# Homework 1

## Q1. Pandas version

In [46]:
import pandas as pd
import numpy as np

In [47]:
pd.__version__

'2.1.2'

## Getting the data

In [48]:
csv_url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv"
df = pd.read_csv(csv_url)
print(df.head())

   engine_displacement  num_cylinders  horsepower  vehicle_weight  \
0                  170            3.0       159.0     3413.433759
1                  130            5.0        97.0     3149.664934
2                  170            NaN        78.0     3079.038997
3                  220            4.0         NaN     2542.392402
4                  210            1.0       140.0     3460.870990

   acceleration  model_year  origin fuel_type         drivetrain  num_doors  \
0          17.7        2003  Europe  Gasoline    All-wheel drive        0.0
1          17.8        2007     USA  Gasoline  Front-wheel drive        0.0
2          15.1        2018  Europe  Gasoline  Front-wheel drive        0.0
3          20.2        2009     USA    Diesel    All-wheel drive        2.0
4          14.4        2009  Europe  Gasoline    All-wheel drive        2.0

   fuel_efficiency_mpg
0            13.231729
1            13.688217
2            14.246341
3            16.912736
4            12.488369

## Q2. Records count

How many records are in the dataset?

In [49]:
num_rows = len(df); num_rows

9704

## Q3. Fuel types

How many fuel types are presented in the dataset?

In [50]:
num_fuel_type = df['fuel_type'].nunique(); num_fuel_type

2

## Q4. Missing values

How many columns in the dataset have missing values?

In [51]:
missing_values_across_df = df.isnull().sum(); missing_values_across_df

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [52]:
# columns with missing values only:
columns_missing_values = missing_values[missing_values > 0]; columns_missing_values

num_cylinders    482
horsepower       708
acceleration     930
num_doors        502
dtype: int64

In [53]:
# count of columns that contain missing values
len(columns_missing_values)

4

## Q5. Max fuel efficiency

What's the maximum fuel efficiency of cars from Asia?

In [54]:
asian_cars = df[df['origin'] == 'Asia']

In [55]:
round(asian_cars['fuel_efficiency_mpg'].max(),3)

23.759

## Q6. Median value of horsepower

Find the median value of the horsepower column in the dataset.

In [56]:
initial_median = df['horsepower'].median(); initial_median

149.0

Next, calculate the most frequent value of the same horsepower column.

In [57]:
most_frequent_horsepower = df['horsepower'].mode()[0]; most_frequent_horsepower

152.0

Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.

In [58]:
df['horsepower'] = df['horsepower'].fillna(most_frequent_horsepower)

Now, calculate the median value of horsepower once again.

In [59]:
final_median = df['horsepower'].median(); final_median

152.0

Has it changed?

In [60]:
final_median > initial_median

True

Yes, it increased

## Q7. Sum of weights

Select all the cars from Asia

In [61]:
asian_cars.head(2)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820

Select only columns vehicle_weight and model_year

In [63]:
subset_asian_cars = asian_cars[['vehicle_weight', 'model_year']]; subset_asian_cars

      vehicle_weight  model_year
8        2714.219310        2016
12       2783.868974        2010
14       3582.687368        2007
20       2231.808142        2011
21       2659.431451        2016
...              ...         ...
9688     3948.404625        2018
9692     3680.341381        2016
9693     2545.070139        2012
9698     3107.427820        2005
9703     2908.043477        2005

[3247 rows x 2 columns]

Select the first 7 values

In [65]:
first_7_records = subset_asian_cars[0:7]; first_7_records

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

Get the underlying NumPy array. Let's call it X.

In [68]:
X = first_7_records.values; X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [99]:
print(f"XT shape: {X.shape}")

XT shape: (7, 2)

Compute matrix-matrix multiplication between the transpose of X and X.

In [100]:
XT = X.T; XT

array([[2714.21930965, 2783.86897424, 3582.68736772, 2231.8081416 ,
        2659.43145076, 2844.22753389, 3761.99403819],
       [2016.        , 2010.        , 2007.        , 2011.        ,
        2016.        , 2014.        , 2019.        ]])

In [85]:
print(f"XT shape: {XT.shape}")

XT shape: (2, 7)

In [102]:
XTX = np.dot(XT, X)

In [104]:
print(f"XTX shape: {XTX.shape}")

XTX shape: (2, 2)

Invert XTX

In [105]:
XTX_inverse = np.linalg.inv(XTX); XTX_inverse

array([[ 5.71497081e-07, -8.34509443e-07],
       [-8.34509443e-07,  1.25380877e-06]])

In [106]:
print(f"XTX_inverse shape: {XTX_inverse.shape}")

XTX_inverse shape: (2, 2)

Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].

In [112]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [113]:
print(f"y shape: {y.shape}")

y shape: (7,)

Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

In [124]:
part1 = np.dot(XTX_inverse, XT)

In [125]:
w = np.dot(part1,y)

In [126]:
w.shape

(2,)

What's the sum of all the elements of the result?

In [130]:
result_sum = round(np.sum(w),3); result_sum

0.519